<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Header Section</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://kit.fontawesome.com/bfec730d56.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>

        <a href="#" class="logo"> <span>Phy</span>Sics</a>

        <input type="checkbox" id="menu">
        <label for="menu"><i class="fas fa-bars"></i></label>

        <nav class="navbar">
            <a href="/">home</a>
            <a href="electrostatics_calculator">calculator</a>
            <a href="contacts">contacts</a>
        </nav>

    </header>


    <section class="home" id="home">

        <div class="content">
            <h2>- <span>Physics</span> -</h2>
            <p>PhySics - это удобный онлайн-ресурс для студентов, преподавателей и всех, кто интересуется физикой. Наш сайт предоставляет широкий выбор физических калькуляторов, позволяющих легко и быстро решать разнообразные задачи, используя соответствующие формулы.</p>
            <h2>- <span>Особенности калькурятора</span> -</h2>
            <p>Многофункциональность: Мы предлагаем широкий спектр калькуляторов, покрывающих основные области физики, включая механику, электромагнетизм, оптику, термодинамику и многое другое. Независимо от того, нужно ли вычислить скорость тела, силу тяжести, энергию фотона или электрическое поле, у нас есть инструменты для этого.</p><p>
            <a href="#" class="btn">Learn More</a>
        </div>


    </section>


</body>
</html>